{% extends "datatrans/base.html" %}
{% load i18n %}
{% load adminmedia %}
{% block title %}{% trans "Translations for" %} {{ model }} - {{ block.super }}{% endblock %}
{% block breadcrumbs %}{{ block.super }} &rsaquo; {% trans "Translations for" %} {{ model }}{% endblock %}

{% block content %}
<h1>{% trans "Translations for" %} {{ model }}</h1>
<div style="width: 128px; position: fixed; right: 8px; top: 72px; border: 1px solid #CCC; padding: 8px; background: #FFF;">
	{% blocktrans with progress.0 as percent and progress.1 as done and progress.2 as total %}Progress: {{ percent }}% ({{ done }}/{{ total }}){% endblocktrans %}
	<div style="width: 64px; border: 1px solid #CCC; margin: 0; padding: 0;">
	     <div style="margin: 0; padding: 0; width: {% widthratio progress.0 100 64 %}px; height: 12px; background: #ACE url({% admin_media_prefix %}img/admin/default-bg.gif) repeat-x;"></div>
	</div>
</div>
<p>
	{% if first_unedited %}
	<a href="#section_{{ first_unedited.pk }}">{% trans "Jump to first to do" %}</a><br />
	{% endif %}

	{% for field in fields %}
	<a href="#{{ field.name }}">{% blocktrans with field.verbose_name as field_verbose_name %}Jump to {{ field_verbose_name }} field{% endblocktrans %}</a><br />
	{% endfor %}
</ul>
</p>
<p>
	<div style="width: 12px; height: 12px; border: 1px solid #CCC; float: left; margin-right: 4px;"></div>
	<div style="float: left; height: 12px; margin-right: 16px;">{% trans "done" %}</div>
	<div style="width: 12px; height: 12px; border: 1px solid #CCC; background: #DEF; float: left; margin-right: 4px;"></div>
	<div style="float: left; height: 12px; margin-right: 16px;">{% trans "to do" %}</div>
	<div style="width: 12px; height: 12px; border: 1px solid #CCC; background: #FED; float: left; margin-right: 4px;"></div>
	<div style="float: left; height: 12px; margin-right: 4px;">{% trans "to do (fuzzy)" %}</div>
	<div style="clear: both;"></div>
</p>
<form method="post" action=".">{% csrf_token %}
{% for field in fields %}
<h2 id="{{ field.name }}">{{ field.verbose_name }}</h2>

<table style="border: 1px solid #CCC;">
	<tr>
		<th>&nbsp;</th>
		<th>{{ original_language }}</th>
		<th>{{ other_language }}</th>
		<th>&nbsp;</th>
	</tr>
	{% for item in field.items %}
	<tr id="section_{{ item.translation.pk }}" style="{% if not item.translation.edited %}background: #DEF;{% else %}{% if item.translation.fuzzy %}background: #FED;{% endif %}{% endif %}">
		<td><a href="#section_{{ item.translation.pk }}" title="{% trans "Link to this translation" %}">¶</a></td>
		<td>
			<textarea readonly="readonly" cols="60" rows="6">{{ item.original.value }}</textarea>
			<br />
			{% if not item.translation.edited %}
				{% trans "to do" %}
			{% else %}
				{% if item.translation.fuzzy %}
					{% trans "fuzzy" %}
				{% else %}
					{% trans "done" %}
				{% endif %}

			{% endif %}
		</td>
		<td>
			<textarea name="translation_{{ item.translation.pk }}" cols="60" rows="6">{% if item.translation.edited %}{{ item.translation.value }}{% endif %}</textarea>
			<br />
			<input type="checkbox" name="empty_{{ item.translation.pk }}" {% ifequal item.translation.value "" %}{% if item.translation.edited %}checked="checked"{% endif %}{% endifequal %} />
			<span title="{% trans "tick this checkbox if the translation is deliberately empty" %}">{% trans "empty" %}</span>
			<input type="checkbox" name="ignore_{{ item.translation.pk }}" {% ifequal item.translation.value item.original.value %}{% if item.translation.edited %}checked="checked"{% endif %}{% endifequal %} />
			<span title="{% trans "keep this original or fuzzy" %}">{% trans "ignore" %}</span>
		</td>
		<td><input type="submit" value="{% trans "Save" %}" name="section_{{ item.translation.pk }}" /></td>
	</tr>
	{% endfor %}
</table>



<div class="submit-row" >
	<input type="submit" value="{% trans "Save" %}" class="default" />
</div>

{% endfor %}
</form>

{% endblock %}
